# profile
SPRING_PROFILES_ACTIVE=local

# mysql
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USERNAME=
MYSQL_PASSWORD=
# db
CHAT_DB=chat-service
# jpa
JPA_HIBERNATE_DDL_AUTO=create
SQL_INIT_MODE=always

# redis
REDIS_HOST=redis
REDIS_PORT=6379

# kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:19094
KAFKA_LISTENER_CONCURRENCY=1

# log
LOGGING_LEVEL_PROJECT=DEBUG
LOGGING_LEVEL_HIBERNATE_SQL=DEBUG
LOGGING_LEVEL_HIBERNATE_JDBC=TRACE
LOGGING_LEVEL_KAFKA=WARN
LOGGING_LEVEL_SPRING_KAFKA=WARN

# ---

# auth
AUTH_MODE=jwt-token
AUTH_JWT_GRANT_TYPE=
AUTH_JWT_SECRET_KEY=
AUTH_ALLOWED_STATUSES=ACTIVE
AUTH_EXCLUDED_PATTERNS=/actuator/health,/error,/*.html,/stomp

# security-core
GITHUB_USERNAME=
GITHUB_TOKEN=
