# profile
SPRING_PROFILES_ACTIVE=local

# mysql
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USERNAME=
MYSQL_PASSWORD=
# db
MYSQL_DB_AUTH=auth-service
MYSQL_DB_USER=user-service
MYSQL_DB_CHAT=chat-service
MYSQL_DB_TEST=chatting-test

# redis
REDIS_HOST=redis
REDIS_PORT=6379

# ---

# auth
AUTH_JWT_GRANT_TYPE=
AUTH_JWT_SECRET_KEY=
# ms 기준
AUTH_JWT_ACCESS_EXP=
AUTH_JWT_REFRESH_EXP=

# security-core
GITHUB_USERNAME=
GITHUB_TOKEN=
