# profile
SPRING_PROFILES_ACTIVE=local

# mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USERNAME=
MYSQL_PASSWORD=
# DB
MYSQL_DB_AUTH=auth-service
MYSQL_DB_USER=user-service
MYSQL_DB_CHAT=chat-service

# redis
REDIS_HOST=localhost
REDIS_PORT=6379

# ---

# auth
AUTH_JWT_GRANT_TYPE=
AUTH_JWT_SECRET_KEY=
AUTH_JWT_ACCESS_EXP=        # ms 기준
AUTH_JWT_REFRESH_EXP=       # ms 기준

# security-core
GITHUB_USERNAME=
GITHUB_TOKEN=
